*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FCF7F8;
  color: #0C1821;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2%;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  margin-bottom: 1.5rem; }

a {
  color: rgba(12, 24, 33, 0.6);
  text-decoration: none;
  font-size: 1rem; }

li {
  list-style: none; }

p {
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1rem; }

.container {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden; }

.highlight {
  color: #0057FF;
  font-weight: 800; }

.main-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(12, 24, 33, 0.8);
  margin-bottom: 2rem; }

.btn-blue {
  display: inline-block;
  width: 200px;
  height: 45px;
  background: #0057FF;
  color: #FCF7F8;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 80%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 200ms ease-in-out; }
  .btn-blue:hover {
    background: #0747c9; }

.btn-text {
  border: none;
  background: none;
  font-size: 1rem;
  color: rgba(12, 24, 33, 0.6);
  width: 200px;
  height: 45px;
  cursor: pointer; }
  .btn-text i {
    color: rgba(12, 24, 33, 0.6);
    transition: transform 300ms ease-in; }
  .btn-text:hover i {
    transform: translateX(5px); }

#main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem 0; }
  #main-nav img {
    height: 50px;
    padding-top: .75rem; }
  #main-nav .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%; }
    #main-nav .list a {
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 2%;
      transition: color 150ms ease-in; }
      #main-nav .list a:hover {
        color: #0C1821; }

#showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100%; }
  #showcase .showcase-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #showcase .showcase-left #main-nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 1rem 0; }
      #showcase .showcase-left #main-nav img {
        height: 50px;
        padding-top: 0.75rem; }
      #showcase .showcase-left #main-nav .list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 100%; }
        #showcase .showcase-left #main-nav .list a {
          font-weight: 500;
          font-size: 1rem;
          letter-spacing: 2%;
          transition: color 150ms ease-in; }
          #showcase .showcase-left #main-nav .list a:hover {
            color: #0C1821; }
    #showcase .showcase-left .value-proposition {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #showcase .showcase-left .value-proposition .lead {
        font-size: 1.25rem;
        font-weight: 400;
        color: rgba(12, 24, 33, 0.6);
        width: 75%;
        letter-spacing: 1px;
        margin-bottom: 5rem; }
    #showcase .showcase-left .services-summary {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem; }
      #showcase .showcase-left .services-summary .boxes {
        width: 80%; }
        #showcase .showcase-left .services-summary .boxes i {
          color: #0057FF;
          font-size: 1.5rem;
          margin-bottom: 1rem; }
        #showcase .showcase-left .services-summary .boxes .title,
        #showcase .showcase-left .services-summary .boxes p {
          font-size: 14px;
          color: rgba(12, 24, 33, 0.6); }
        #showcase .showcase-left .services-summary .boxes .title {
          position: relative;
          margin-left: 10px; }
        #showcase .showcase-left .services-summary .boxes .title::before {
          content: "";
          position: absolute;
          left: -10px;
          width: 5px;
          height: 20px;
          background: #0057FF;
          margin-right: 1rem; }
        #showcase .showcase-left .services-summary .boxes p {
          color: rgba(12, 24, 33, 0.8); }
        #showcase .showcase-left .services-summary .boxes .highlight-dark {
          color: #0C1821;
          font-weight: 500; }
  #showcase .showcase-right {
    background: url("../img/businessman.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    #showcase .showcase-right .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #0C1821;
      opacity: 40%;
      z-index: 1; }
    #showcase .showcase-right .form-body {
      background: #FCF7F8;
      height: auto;
      height: 352px;
      width: 358px;
      padding: 1.5rem;
      margin: 0 auto;
      border: none;
      border-radius: 15px;
      overflow: hidden;
      z-index: 2; }
      #showcase .showcase-right .form-body form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.75rem 0;
        height: 100%; }
        #showcase .showcase-right .form-body form .form-group {
          width: 100%; }
          #showcase .showcase-right .form-body form .form-group:nth-child(3) {
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            #showcase .showcase-right .form-body form .form-group:nth-child(3) input {
              margin-right: 0.5rem;
              width: 15px;
              height: 15px;
              border: 1px solid rgba(12, 24, 33, 0.4);
              border-radius: 15px;
              color: rgba(12, 24, 33, 0.6);
              background: none; }
            #showcase .showcase-right .form-body form .form-group:nth-child(3) label {
              color: rgba(12, 24, 33, 0.6);
              font-size: 14px;
              margin-top: 0.1rem; }
          #showcase .showcase-right .form-body form .form-group:last-child {
            display: flex;
            justify-content: space-between; }
            #showcase .showcase-right .form-body form .form-group:last-child a {
              font-size: 14px; }
            #showcase .showcase-right .form-body form .form-group:last-child i {
              transition: transform 300ms ease-in; }
            #showcase .showcase-right .form-body form .form-group:last-child a:hover i {
              transform: translateX(5px); }
          #showcase .showcase-right .form-body form .form-group input[type="text"],
          #showcase .showcase-right .form-body form .form-group input[type="password"] {
            display: block;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 1px;
            width: 100%;
            border: none;
            outline: none;
            background: none;
            color: rgba(12, 24, 33, 0.6);
            font-weight: normal;
            font-style: normal;
            padding: 0.75rem 1rem;
            border-bottom: 1px solid rgba(12, 24, 33, 0.4);
            transition: all 200ms ease-in-out; }
            #showcase .showcase-right .form-body form .form-group input[type="text"]:focus,
            #showcase .showcase-right .form-body form .form-group input[type="password"]:focus {
              border-color: #0057FF; }
        #showcase .showcase-right .form-body form button {
          width: 100%;
          font-size: 14px; }

#checking {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%; }
  #checking img {
    height: 400px;
    box-shadow: 1px 6px 25px rgba(12, 24, 33, 0.2);
    border-radius: 8px;
    z-index: 2; }
  #checking .details-container {
    background: #FCF7F8;
    height: 600px;
    margin-left: -400px;
    border-radius: 8px;
    box-shadow: 1px 6px 25px rgba(12, 24, 33, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 60%; }
    #checking .details-container .info {
      margin: 0 5rem 0 auto;
      width: 50%; }
      #checking .details-container .info .main-title {
        color: rgba(12, 24, 33, 0.8);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.5; }
      #checking .details-container .info .title-subtext {
        font-size: 1rem;
        line-height: 1.6;
        color: rgba(12, 24, 33, 0.8);
        margin-bottom: 2rem; }
      #checking .details-container .info button {
        width: 250px;
        font-size: 0.9rem; }

#credit-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh; }
  #credit-cards .main-title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(12, 24, 33, 0.8);
    margin-bottom: 2rem; }
  #credit-cards .title-lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(12, 24, 33, 0.6);
    letter-spacing: 2%;
    width: 40%;
    margin: 0 auto; }
  #credit-cards .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; }
    #credit-cards .cards .card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 60vh; }
      #credit-cards .cards .card:hover img {
        transform: translateY(10px); }
      #credit-cards .cards .card-name {
        color: #0057FF;
        font-size: 1.25rem;
        font-weight: 600; }
      #credit-cards .cards .card-title {
        color: rgba(12, 24, 33, 0.4);
        font-size: 1.15rem; }
      #credit-cards .cards .card img {
        height: 210px;
        border-radius: 8px;
        box-shadow: 1px 6px 25px rgba(12, 24, 33, 0.2);
        transition: transform 300ms ease-in; }
      #credit-cards .cards .card-details div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: #0057FF; }
        #credit-cards .cards .card-details div .rewards {
          margin-top: 0.5rem; }
        #credit-cards .cards .card-details div p {
          color: #0057FF;
          font-weight: 600;
          margin-left: 0.5rem; }
      #credit-cards .cards .card p {
        font-size: 1.15rem;
        color: rgba(12, 24, 33, 0.6); }

#ubec-pay {
  background: #0C1821;
  color: #FCF7F8; }
  #ubec-pay .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100vh; }
    #ubec-pay .container img {
      height: 80%;
      border-radius: 8px; }
    #ubec-pay .container .ubec-pay-details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 70vh;
      width: 100%;
      margin-left: 5rem; }
      #ubec-pay .container .ubec-pay-details .main-title {
        font-size: 3.5rem;
        letter-spacing: 2px;
        color: #FCF7F8;
        text-transform: uppercase; }
      #ubec-pay .container .ubec-pay-details .lead {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 2%;
        width: 55%;
        opacity: 0.5;
        margin: 0 auto; }
      #ubec-pay .container .ubec-pay-details div:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem; }
        #ubec-pay .container .ubec-pay-details div:nth-of-type(2) div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          padding: 0 1rem;
          height: 200px; }
          #ubec-pay .container .ubec-pay-details div:nth-of-type(2) div i {
            font-size: 1.5rem;
            color: #0057FF; }

#news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
  height: 100%; }
  #news .main-title {
    font-size: 2.5rem;
    color: rgba(12, 24, 33, 0.8); }
  #news .lead {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(12, 24, 33, 0.6);
    width: 50%;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5rem; }
  #news #news-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; }
    #news #news-articles div {
      display: block;
      width: 450px;
      height: 250px;
      border-radius: 4px;
      box-shadow: 2px 4px 25px rgba(12, 24, 33, 0.4);
      transition: all 300ms ease-in; }
      #news #news-articles div:hover {
        box-shadow: none; }
    #news #news-articles > div:first-child {
      grid-row: 1/4;
      height: 100%;
      background: url("../img/bank.jpg") no-repeat center center/cover; }
    #news #news-articles > div:nth-child(2) {
      background: url("../img/piggy-bank.jpg") no-repeat center center/cover; }
    #news #news-articles > div:nth-child(3) {
      background: url("../img/meeting.jpg") no-repeat center center/cover; }
    #news #news-articles > div:nth-child(4) {
      grid-column: 2/4;
      width: 100%;
      background: url("../img/something-great.jpg") no-repeat center center/cover; }
    #news #news-articles > div:nth-child(5) {
      background: url("../img/productivity.jpg") no-repeat center center/cover; }
    #news #news-articles > div:nth-child(6) {
      background: url("../img/chess.jpg") no-repeat center center/cover; }

#main-footer {
  background: #467FB3;
  color: #FCF7F8;
  height: 50vh; }
  #main-footer .other-services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh; }
    #main-footer .other-services .title {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0; }
    #main-footer .other-services .list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 50%; }
      #main-footer .other-services .list a {
        color: #FCF7F8;
        font-weight: 200;
        font-size: 1rem;
        opacity: 80%;
        text-decoration: underline;
        padding-bottom: 0.25rem; }
        #main-footer .other-services .list a:hover {
          opacity: 100%; }
  #main-footer .contact {
    display: flex;
    justify-content: space-between; }
    #main-footer .contact .footer-details {
      width: 25%; }
      #main-footer .contact .footer-details .title {
        font-size: 1rem; }
      #main-footer .contact .footer-details p {
        font-size: 14px;
        line-height: 1.6; }
      #main-footer .contact .footer-details .highlight-yellow {
        color: #FFB800; }
      #main-footer .contact .footer-details:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #main-footer .contact .footer-details:first-child div:first-child {
          margin-bottom: 2rem; }
      #main-footer .contact .footer-details:nth-child(2) img {
        height: 30px; }

#contact-header #main-nav .list {
  width: 36.5%; }

#contact-hero {
  background: #FCF7F8; }
  #contact-hero .main-title {
    text-align: center;
    height: 100%;
    width: 23%;
    font-size: 3rem;
    padding: 10rem 0 15rem;
    margin: 0 auto; }

#contact-form {
  background: #467FB3;
  color: #FCF7F8;
  height: 100%;
  padding: 2rem 0; }
  #contact-form .contact-options {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    #contact-form .contact-options .form-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: #FCF7F8;
      color: rgba(12, 24, 33, 0.6);
      height: auto;
      width: 400px;
      padding: 2rem 1.5rem;
      border-radius: 8px;
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
      margin-top: -10rem; }
      #contact-form .contact-options .form-container div:first-child {
        text-align: center; }
        #contact-form .contact-options .form-container div:first-child .form-title {
          font-size: 1.15rem; }
        #contact-form .contact-options .form-container div:first-child .form-lead {
          font-size: 14px;
          width: 90%;
          margin: 0 auto; }
      #contact-form .contact-options .form-container form input,
      #contact-form .contact-options .form-container form textarea {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: none;
        outline: none;
        background: none;
        font-family: "Roboto";
        font-size: 0.9rem;
        color: rgba(12, 24, 33, 0.6);
        border-bottom: 1px solid rgba(12, 24, 33, 0.4);
        transition: border-color 300ms ease-in-out; }
        #contact-form .contact-options .form-container form input:focus,
        #contact-form .contact-options .form-container form textarea:focus {
          border-color: #0057FF; }
      #contact-form .contact-options .form-container form textarea {
        height: 100px;
        margin-bottom: 2rem; }
      #contact-form .contact-options .form-container button {
        width: 100%;
        font-size: 0.8rem;
        height: 35px; }
    #contact-form .contact-options > div:nth-child(2) .title {
      font-size: 1.5rem;
      font-weight: 300; }
    #contact-form .contact-options > div:nth-child(2) .lead {
      font-size: 14px;
      font-weight: 300;
      width: 60%;
      margin-bottom: 3rem; }
    #contact-form .contact-options > div:nth-child(2) .contact-group {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid rgba(252, 247, 248, 0.2);
      font-size: 1rem;
      font-weight: 300;
      padding: 1rem 0.5rem;
      transition: background 150ms ease-in-out; }
      #contact-form .contact-options > div:nth-child(2) .contact-group:hover {
        background: #4379aa;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 15px 25px rgba(12, 24, 33, 0.2); }
      #contact-form .contact-options > div:nth-child(2) .contact-group .group-title {
        color: #FCF7F8;
        font-weight: 400; }
      #contact-form .contact-options > div:nth-child(2) .contact-group .message {
        color: rgba(252, 247, 248, 0.6); }
